- if !flash[:notice].blank?
  .alert.alert-info
    = flash[:notice]
.wrapper_with_padding
  %h1 Sharebox
  %button= link_to "New Document", new_document_path
  %br/
  %br/
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Download Link
        %th
    %tbody
      - @documents.each do |document|
        %tr
          %td= "#{document.name} - #{time_ago_in_words(document.created_at)}"
          %td= link_to "Download Document", document.attachment_url
          %td= button_to "Delete",  document, method: :delete, confirm: "Are you sure that you wish to delete #{document.name}?"
